<div class="main-content">
    

        <h2>UriTemplate</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter">
                            <p>id</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">ID of the URI Template</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#integer">integer</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">1</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>urlPattern</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">URL pattern of the URI</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">/user/details</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>httpVerb</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Http verb of the uri pattern</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">GET,POST,PUT,DELETE,OPTION</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>policyGroupName</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">The name of the uri template policy group</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">default</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>policyGroupId</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Database ID of the associated policy group.</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#integer">integer</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">default</p></td>
                    </tr>
                
                </tbody>
            </table>
    
</div>
