<div class="main-content">
    

        <h2>Schedule</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter">
                            <p>scheduleTime</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked"></p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">04-30-2016 11:25 am</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>deviceIds</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">List of device Id&#39;s</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#array">array</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked"></p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>appId</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Installing mobile app ID</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">aff3b9ad-3d7b-4d8e-8bf9-600e86edf88c</p></td>
                    </tr>
                
                </tbody>
            </table>
    
</div>
