<div class="main-content">
    <h1><a name="TagsApi"></a>TagsApi</h1>

    
        
            <hr/>
            <h3 class="operation-heading"><a name="appsAppTypeTagsGet"></a>Get all tags</h3>

            <p class="marked"></p>

            <p class="marked">Get a list of available tags relevant to the given App type.</p>

            <h4 class="section-heading">URL</h4>
            <code>http://apis.wso2.com/api/appm/store/v1.1/apps/{appType}/tags</code>

            <h4 class="section-heading">HTTP Method</h4>
            <code>GET</code>

            <h4 class="section-heading">Scope</h4>
            
                <code>appm:read</code>
            
            

            <h4 class="section-heading">CURL Example</h4>
            
                <div class="pre"><code class="bash">curl -X GET -H &quot;Authorization: Bearer 0c0338592beefe7225bd6d869e93ca06&quot; &quot;http://localhost:9763/api/appm/store/v1.1/apps/webapp/tags&quot;</code></div>
            
            

            

            <div class="pointer" data-toggle="collapse" data-target="#response-appsAppTypeTagsGet">
                <h4 class="section-heading">
                    Sample Response
                    
                        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                    
            </h4>
            </div>
            
                <div id="response-appsAppTypeTagsGet" class="pre collapse"><code class="json">[{&quot;name&quot;:&quot;webapptag1&quot;,&quot;noOfOccurrences&quot;:1},{&quot;name&quot;:&quot;webapptag2&quot;,&quot;noOfOccurrences&quot;:1},{&quot;name&quot;:&quot;webapptag3&quot;,&quot;noOfOccurrences&quot;:1}]</code></div>
            
            
            <h4 class="section-heading">Parameters</h4>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                </tr>
                </thead>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>appType</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The App type (either Webapp/Mobile app).</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>Accept</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Media types acceptable for the response. Default is JSON.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked">JSON</p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>If-None-Match</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Validator for conditional requests; based on the ETag of the formerly retrieved\nvariant of the resource.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
            </table>

            <h4 class="section-heading">Responses</h4>

            <table class="table table-hover">
                <colgroup>
                    <col style="width: 15%;"/>
                    <col style="width: 70%;"/>
                    <col style="width: 15%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>HTTP Code</th>
                    <th>Description</th>
                    <th>Schema</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter"><p class="marked">200</p></td>
                        <td class="parameter"><p class="marked">OK.\nList of tags is returned.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#TagList">TagList</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">400</p></td>
                        <td class="parameter"><p class="marked">Bad Request.\nInvalid request or validation error.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">403</p></td>
                        <td class="parameter"><p class="marked">Forbidden.\nThe request must be conditional but no condition has been specified.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">404</p></td>
                        <td class="parameter"><p class="marked">Not Found.\nThe resource to be updated does not exist.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        
            <hr/>
            <h3 class="operation-heading"><a name="tagsTagNameAppsAppTypeGet"></a>Get apps with given tag</h3>

            <p class="marked"></p>

            <p class="marked">Get app list with the given tag for a particular asset type.</p>

            <h4 class="section-heading">URL</h4>
            <code>http://apis.wso2.com/api/appm/store/v1.1/tags/{tagName}/apps/{appType}</code>

            <h4 class="section-heading">HTTP Method</h4>
            <code>GET</code>

            <h4 class="section-heading">Scope</h4>
            
                <code>appm:read</code>
            
            

            <h4 class="section-heading">CURL Example</h4>
            
                <div class="pre"><code class="bash">curl -X GET -H &quot;Authorization: Bearer 62651cabf9c83f8f7379dcc9b2909f8d&quot; &quot;http://localhost:9763/api/appm/store/v1.1/tags/hr/apps&quot;</code></div>
            
            

            

            <div class="pointer" data-toggle="collapse" data-target="#response-tagsTagNameAppsAppTypeGet">
                <h4 class="section-heading">
                    Sample Response
                    
                        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                    
            </h4>
            </div>
            
                <div id="response-tagsTagNameAppsAppTypeGet" class="pre collapse"><code class="json">{&quot;previous&quot;:&quot;&quot;,&quot;next&quot;:&quot;&quot;,&quot;count&quot;:2,&quot;appList&quot;:[{&quot;name&quot;:&quot;app1&quot;,&quot;context&quot;:null,&quot;id&quot;:&quot;af929140-1257-46ed-97c0-d26098e140e9&quot;,&quot;rating&quot;:0.0,&quot;lifecycleState&quot;:&quot;IN-REVIEW&quot;,&quot;provider&quot;:&quot;admin&quot;,&quot;description&quot;:&quot;asdasd&quot;,&quot;version&quot;:&quot;1&quot;},{&quot;name&quot;:&quot;app2&quot;,&quot;context&quot;:null,&quot;id&quot;:&quot;5c9c8551-d696-4c44-85a6-dcd86f1a1e25&quot;,&quot;rating&quot;:0.0,&quot;lifecycleState&quot;:&quot;CREATED&quot;,&quot;provider&quot;:&quot;admin&quot;,&quot;description&quot;:&quot;phone&quot;,&quot;version&quot;:&quot;1.0&quot;}]}</code></div>
            
            
            <h4 class="section-heading">Parameters</h4>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                </tr>
                </thead>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>tagName</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Tag name.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>appType</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The App type (either Webapp/Mobile app).</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            <span class="param-in">Query </span>
                            
                            
                            
                        </td>
                        <td class="param-name">
                            <p>limit</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Maximum size of resource array to return.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                Integer
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked">25</p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            <span class="param-in">Query </span>
                            
                            
                            
                        </td>
                        <td class="param-name">
                            <p>offset</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Starting point within the complete list of items qualified.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                Integer
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked">0</p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>Accept</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Media types acceptable for the response. Default is JSON.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked">JSON</p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>If-None-Match</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Validator for conditional requests; based on the ETag of the formerly retrieved\nvariant of the resource.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>If-Modified-Since</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Validator for conditional requests; based on the Last Modified header of the\nformerly retrieved variant of the resource.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
            </table>

            <h4 class="section-heading">Responses</h4>

            <table class="table table-hover">
                <colgroup>
                    <col style="width: 15%;"/>
                    <col style="width: 70%;"/>
                    <col style="width: 15%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>HTTP Code</th>
                    <th>Description</th>
                    <th>Schema</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter"><p class="marked">200</p></td>
                        <td class="parameter"><p class="marked">OK.\nList of App IDs is returned.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#AppIdList">AppIdList</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">400</p></td>
                        <td class="parameter"><p class="marked">Bad Request.\nInvalid request or validation error.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">403</p></td>
                        <td class="parameter"><p class="marked">Forbidden.\nThe request must be conditional but no condition has been specified.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">404</p></td>
                        <td class="parameter"><p class="marked">Not Found.\nThe resource to be updated does not exist.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        
    
</div>
